
/* Custom Font for Titles and navigation */
@font-face {
  font-family: 'Pixeloid';
  src: url('fonts/PixeloidMono-d94EV.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Google Font for body */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* General Body Styling */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0px;
}
body {
  background-color: black;
  font-family: 'Courier Prime', monospace;
  color: white;
  margin: 0;
  padding: 0;
}
header {
  font-family: 'Pixeloid', sans-serif;
  color: white;
  text-align: left;
  font-size:  50px;
  margin-left: 20px;
  padding-bottom: 0px;
}
/* Title and Heading Styling */
h3 {
  color: white;
  text-align: left;
  font-family: 'Pixeloid', sans-serif;
  margin: 0;
  padding-top: 5px;
  font-size: 25px;
}
h1 {
  margin-bottom: 5px;
}

/* List Styling */
li {
  font-family: 'Pixeloid', sans-serif;
  color: white;
}



nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #FFD700;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid #4B0082;
  border-radius: 5px;

}

p {
  font-size: 30px;
}

.intro-page {
  font-family: 'Courier Prime', monospace;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.badges {
  display: flex;
  gap: 15px;
  align-items: center;
}

.badge {
  width: 300px;
  height: 300px;
  image-rendering: pixelated;
}

footer {
  color: white;
  text-align: center;
  height: 10px;
  width: 10px;
}



